<tr>
  <td><%= month[:month] %></td>
  <td><%= number_to_currency(month[:value]) %></td>
  <td><%= number_to_currency(month[:principal]) %></td>
  <td><%= number_to_currency(month[:interest]) %></td>
  <td><%= number_to_currency(month[:total_int]) %></td>
  <td><%= number_to_currency(month[:total_fees]) %></td>
  <td><%= number_to_currency(month[:total_expense]) %></td>
</tr>
